<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
<meta charset="ISO-8859-1">
<title>HELLO WORLD</title>
</head>
<body>
   <h1>HELLO WORLD...</h1>
   
<tr>
   <div class="col-sm-5" align = "center">
	   <div class="panel-body" align = "center" >
	   <table class="table">
		  <thead class="table table-striped">
			    <tr>
			       	<th>id</th>
		            <th>task</th>
			   </tr>
		  </thead>
		  <tbody>
		      	<tr th:each="task : ${tasklist}">
					<td th:text="${task.id}">ID</td>
					<td th:text="${task.taskname}">TaskName</td>     
				</tr>
		  
		  </tbody>
		</table>
                    
       	</div>
     </div> 
     </tr>                
    
</body>
</html>